.label {
    font-size: 80%;
}
ion-content{
    margin: auto;
}
ion-item{
    margin:auto;
    margin-top:1px;
    margin-bottom: 1px;
    width:100%;
}
ion-radio label{
    margin:auto;
    width: 100%;
}
ion-button{
    margin:auto;
    width:40%;
}